.comicCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 2vh;
  margin: 3vh;
  max-width: 80%;
}

.comicDescription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
