.comicsGrid {
  padding-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.comicCard {
  min-width: 45vh;
  margin-left: 10px;
  width: calc(25% - 10px);
  margin-bottom: 20px;
}

.paginationComp {
  display: flex;
  
  padding: 3.5vh;
}
